@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Reem+Kufi+Ink&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: red;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-size: 25px;
}

h1, h2 {
    color: blue;
    font-family: 'Aref Ruqaa Ink', serif;
}

#name_space {
    background-color: forestgreen;
}

#big_name {
    text-align: center;
}

#nav_list {
    background-color: darkcyan;
}

#nav_list {
    /* text-align: center; */
    display: table;
    margin: 0 auto;
    /* list-style-type: none; */
    /* display: inline; */
    /* float: left; */
}

ul#buttons {
	width: 1200px;
	list-style: none;
	padding-top: 20px;
    /* padding-left: 35px;
    padding-right: 35px; */
	}

ul#buttons li {
		display: inline;
        padding: 25px;
	}

#main_image {
    background-color: blueviolet;
    height: 450px;
}

#what_is {
    background-color: brown;
    height: 450px;
}

#our_rooms {
    background-color: chartreuse;
    height: 450px;
}

#newsletter {
    background-color: darkmagenta;
    height: 450px;
}

footer {
    background-color: darkslategray;
    height: 450px;
}