@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Reem+Kufi+Ink&display=swap');

* {

}

body {
    color: red;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-size: 25px;
}

h1, h2 {
    color: blue;
    font-family: 'Aref Ruqaa Ink', serif;
}

#main_image {
    background-color: blueviolet;
}

#what_is {
    background-color: brown;
}

#our_rooms {
    background-color: chartreuse;
}

#newsletter {
    background-color: darkmagenta;
}

footer {
    background-color: darkslategray;
}